# R files not version controlled
.Rproj.user
.Rhistory
.RData
.Ruserdata

# project files not version controlled 
manage
practice

# top directory files not version controlled
*.html

# sub-directory files not version controlled
*/*.html
*/*.docx
*/*.pptx
*/*.xlsx

# raw data files not version controlled 
data-raw